p {
    font-size: 16px;
    padding: 0.3em;
}

.breakpoint {
    border-top: 5px dotted white;
    padding-top: 2em;
    margin-top: 1.5em;
}

/* desktop */
@media (min-width: 1024px) {
    p {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}