nav { 
    background-color: pink;
    border-radius: 25px;
    
}

.activeLink {
    color: black;
}

ul {
    text-align: center;
    padding-right: 2em;
}

li {
    font-variant: small-caps;
    list-style-type: none;
    padding: 0.3em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}


/* desktop */
@media (min-width: 1024px) {
    nav {
        max-width: 42%;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
}